{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
    h3 {
        color: red;
    }
    .top_padding{
        padding-top: 50px;
    }
</style>
<div class="row top_padding" >
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <h1>Login</h1>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}

        <form method="POST" action="login">
            {% csrf_token %}
            <p>Username:</p>
            <input type="text" name="username">
            <p>Password:</p>
            <input type="password" name="password">
            <br><br>
            <input class="btn btn-dark" type="submit" value="Login">
        </form>
        <br><br>
        <p><b>Create new Account</b> <a href="{% url 'register' %}">Click here</a></p>
    </div>
    <div class="col-lg-4"></div>
</div>
{% endblock content %}